# # Travel at Isanbul

In [2]:
import pandas as pd

tour = pd.read_csv("travel_dataset.csv")

print (tour)

       TelefonKisiID  Ta??y?c? Firma         Adi_Soyadi  SeferTakipNo  \
0            1871516             532        �MER TEKTA?         75455
1            1847377             476   TU?RUL HAFIZO?LU        417832
2            1845989             140       H�SEYIN KAYA         95236
3            1853372             693       ERS?N ATMACA         26093
4            1846628             140      ERCAN DEMIRCI         95056
...              ...             ...                ...           ...
99995        1871203             987        EK?N S�NMEZ         29484
99996        1853278             434       VURAL KESK?N        227036
99997        1859522             196         �ZCAN �ZER         18657
99998        1847781            1463  F?KRETKI?LALIOGLU         13728
99999        1847781            1463  F?KRETKI?LALIOGLU         13728

       BiletTakipNo        Yerel_Saat  Seyahat_Tipi    SubeYeri      Kalkis  \
0          11685431  01/01/2012 00:00             0  D?YARBAKIR  D?YARBAKIR
1          15055943  01/01/2012 00:00             0      SAMSUN      SAMSUN
2          11500972  01/01/2012 01:00             0    ?STANBUL    ?STANBUL
3          10590360  01/01/2012 01:00             0       N??DE       N??DE
4          11498257  01/01/2012 02:45             0     Boz�y�k     Boz�y�k
...             ...               ...           ...         ...         ...
99995        684315  01/04/2015 22:00             0       KONYA       KONYA
99996      11915976  01/04/2015 22:00             0    OSMAN?YE    OSMAN?YE
99997        277884  01/04/2015 23:15             1     Nazilli     Nazilli
99998        144871  01/04/2015 23:45             0       Gebze       Gebze
99999        144872  01/04/2015 23:45             0       Gebze       Gebze

               Varis  Koltuk_Durumu             Islem_Tarihi  Koltuk_No  \
0             MERS?N              3  2012-01-01 23:30:10.000         37
1            KAYSER?              3  2011-12-31 14:16:50.000         27
2          ESK??EH?R              3  2012-01-01 00:54:00.000          3
3             ANKARA              3  2012-01-01 23:30:02.000         22
4      ?st.Sa.G�k�en              3  2011-12-30 13:43:30.000         16
...              ...            ...                      ...        ...
99995        Bulan?k              3  2015-04-01 15:12:14.000          4
99996      GAZ?ANTEP              3  2015-04-01 21:35:55.000         15
99997      �ANAKKALE              3  2015-04-01 23:09:39.000         15
99998       Sungurlu              3  2015-04-01 21:58:48.000          1
99999       Sungurlu              3  2015-04-01 21:58:48.000          2

       Bilet_Fiyati  Odeme_Sekli SeferTipiAdi  ToplamSatisAdedi
0              40.0            1       MOLALI                64
1              45.0            1       MOLALI                95
2              35.0            1     TAR?FEL?                26
3              25.0            1       MOLALI                39
4              33.0            1     TAR?FEL?                29
...             ...          ...          ...               ...
99995          75.0            1       MOLALI                19
99996          15.0            1       MOLALI                43
99997          42.0            1       MOLALI                27
99998          60.0            1       MOLALI                21
99999          60.0            1       MOLALI                21

[100000 rows x 17 columns]

In [3]:
print (tour.head(5))

   TelefonKisiID  Ta??y?c? Firma        Adi_Soyadi  SeferTakipNo  \
0        1871516             532       �MER TEKTA?         75455
1        1847377             476  TU?RUL HAFIZO?LU        417832
2        1845989             140      H�SEYIN KAYA         95236
3        1853372             693      ERS?N ATMACA         26093
4        1846628             140     ERCAN DEMIRCI         95056

   BiletTakipNo        Yerel_Saat  Seyahat_Tipi    SubeYeri      Kalkis  \
0      11685431  01/01/2012 00:00             0  D?YARBAKIR  D?YARBAKIR
1      15055943  01/01/2012 00:00             0      SAMSUN      SAMSUN
2      11500972  01/01/2012 01:00             0    ?STANBUL    ?STANBUL
3      10590360  01/01/2012 01:00             0       N??DE       N??DE
4      11498257  01/01/2012 02:45             0     Boz�y�k     Boz�y�k

           Varis  Koltuk_Durumu             Islem_Tarihi  Koltuk_No  \
0         MERS?N              3  2012-01-01 23:30:10.000         37
1        KAYSER?              3  2011-12-31 14:16:50.000         27
2      ESK??EH?R              3  2012-01-01 00:54:00.000          3
3         ANKARA              3  2012-01-01 23:30:02.000         22
4  ?st.Sa.G�k�en              3  2011-12-30 13:43:30.000         16

   Bilet_Fiyati  Odeme_Sekli SeferTipiAdi  ToplamSatisAdedi
0          40.0            1       MOLALI                64
1          45.0            1       MOLALI                95
2          35.0            1     TAR?FEL?                26
3          25.0            1       MOLALI                39
4          33.0            1     TAR?FEL?                29

In [4]:
tour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TelefonKisiID     100000 non-null  int64
 1   Ta??y?c? Firma    100000 non-null  int64
 2   Adi_Soyadi        99972 non-null   object
 3   SeferTakipNo      100000 non-null  int64
 4   BiletTakipNo      100000 non-null  int64
 5   Yerel_Saat        100000 non-null  object
 6   Seyahat_Tipi      100000 non-null  int64
 7   SubeYeri          100000 non-null  object
 8   Kalkis            100000 non-null  object
 9   Varis             100000 non-null  object
 10  Koltuk_Durumu     100000 non-null  int64
 11  Islem_Tarihi      100000 non-null  object
 12  Koltuk_No         100000 non-null  int64
 13  Bilet_Fiyati      100000 non-null  float64
 14  Odeme_Sekli       100000 non-null  int64
 15  SeferTipiAdi      99994 non-null   object
 16  ToplamSatisAdedi  100000 non-null  int64
dtypes: float64(1), int64(9), object(7)
memory usage: 13.0+ MB

In [5]:
print (tour)

       TelefonKisiID  Ta??y?c? Firma         Adi_Soyadi  SeferTakipNo  \
0            1871516             532        �MER TEKTA?         75455
1            1847377             476   TU?RUL HAFIZO?LU        417832
2            1845989             140       H�SEYIN KAYA         95236
3            1853372             693       ERS?N ATMACA         26093
4            1846628             140      ERCAN DEMIRCI         95056
...              ...             ...                ...           ...
99995        1871203             987        EK?N S�NMEZ         29484
99996        1853278             434       VURAL KESK?N        227036
99997        1859522             196         �ZCAN �ZER         18657
99998        1847781            1463  F?KRETKI?LALIOGLU         13728
99999        1847781            1463  F?KRETKI?LALIOGLU         13728

       BiletTakipNo        Yerel_Saat  Seyahat_Tipi    SubeYeri      Kalkis  \
0          11685431  01/01/2012 00:00             0  D?YARBAKIR  D?YARBAKIR
1          15055943  01/01/2012 00:00             0      SAMSUN      SAMSUN
2          11500972  01/01/2012 01:00             0    ?STANBUL    ?STANBUL
3          10590360  01/01/2012 01:00             0       N??DE       N??DE
4          11498257  01/01/2012 02:45             0     Boz�y�k     Boz�y�k
...             ...               ...           ...         ...         ...
99995        684315  01/04/2015 22:00             0       KONYA       KONYA
99996      11915976  01/04/2015 22:00             0    OSMAN?YE    OSMAN?YE
99997        277884  01/04/2015 23:15             1     Nazilli     Nazilli
99998        144871  01/04/2015 23:45             0       Gebze       Gebze
99999        144872  01/04/2015 23:45             0       Gebze       Gebze

               Varis  Koltuk_Durumu             Islem_Tarihi  Koltuk_No  \
0             MERS?N              3  2012-01-01 23:30:10.000         37
1            KAYSER?              3  2011-12-31 14:16:50.000         27
2          ESK??EH?R              3  2012-01-01 00:54:00.000          3
3             ANKARA              3  2012-01-01 23:30:02.000         22
4      ?st.Sa.G�k�en              3  2011-12-30 13:43:30.000         16
...              ...            ...                      ...        ...
99995        Bulan?k              3  2015-04-01 15:12:14.000          4
99996      GAZ?ANTEP              3  2015-04-01 21:35:55.000         15
99997      �ANAKKALE              3  2015-04-01 23:09:39.000         15
99998       Sungurlu              3  2015-04-01 21:58:48.000          1
99999       Sungurlu              3  2015-04-01 21:58:48.000          2

       Bilet_Fiyati  Odeme_Sekli SeferTipiAdi  ToplamSatisAdedi
0              40.0            1       MOLALI                64
1              45.0            1       MOLALI                95
2              35.0            1     TAR?FEL?                26
3              25.0            1       MOLALI                39
4              33.0            1     TAR?FEL?                29
...             ...          ...          ...               ...
99995          75.0            1       MOLALI                19
99996          15.0            1       MOLALI                43
99997          42.0            1       MOLALI                27
99998          60.0            1       MOLALI                21
99999          60.0            1       MOLALI                21

[100000 rows x 17 columns]

In [6]:
print (tour)

       TelefonKisiID  Ta??y?c? Firma         Adi_Soyadi  SeferTakipNo  \
0            1871516             532        �MER TEKTA?         75455
1            1847377             476   TU?RUL HAFIZO?LU        417832
2            1845989             140       H�SEYIN KAYA         95236
3            1853372             693       ERS?N ATMACA         26093
4            1846628             140      ERCAN DEMIRCI         95056
...              ...             ...                ...           ...
99995        1871203             987        EK?N S�NMEZ         29484
99996        1853278             434       VURAL KESK?N        227036
99997        1859522             196         �ZCAN �ZER         18657
99998        1847781            1463  F?KRETKI?LALIOGLU         13728
99999        1847781            1463  F?KRETKI?LALIOGLU         13728

       BiletTakipNo        Yerel_Saat  Seyahat_Tipi    SubeYeri      Kalkis  \
0          11685431  01/01/2012 00:00             0  D?YARBAKIR  D?YARBAKIR
1          15055943  01/01/2012 00:00             0      SAMSUN      SAMSUN
2          11500972  01/01/2012 01:00             0    ?STANBUL    ?STANBUL
3          10590360  01/01/2012 01:00             0       N??DE       N??DE
4          11498257  01/01/2012 02:45             0     Boz�y�k     Boz�y�k
...             ...               ...           ...         ...         ...
99995        684315  01/04/2015 22:00             0       KONYA       KONYA
99996      11915976  01/04/2015 22:00             0    OSMAN?YE    OSMAN?YE
99997        277884  01/04/2015 23:15             1     Nazilli     Nazilli
99998        144871  01/04/2015 23:45             0       Gebze       Gebze
99999        144872  01/04/2015 23:45             0       Gebze       Gebze

               Varis  Koltuk_Durumu             Islem_Tarihi  Koltuk_No  \
0             MERS?N              3  2012-01-01 23:30:10.000         37
1            KAYSER?              3  2011-12-31 14:16:50.000         27
2          ESK??EH?R              3  2012-01-01 00:54:00.000          3
3             ANKARA              3  2012-01-01 23:30:02.000         22
4      ?st.Sa.G�k�en              3  2011-12-30 13:43:30.000         16
...              ...            ...                      ...        ...
99995        Bulan?k              3  2015-04-01 15:12:14.000          4
99996      GAZ?ANTEP              3  2015-04-01 21:35:55.000         15
99997      �ANAKKALE              3  2015-04-01 23:09:39.000         15
99998       Sungurlu              3  2015-04-01 21:58:48.000          1
99999       Sungurlu              3  2015-04-01 21:58:48.000          2

       Bilet_Fiyati  Odeme_Sekli SeferTipiAdi  ToplamSatisAdedi
0              40.0            1       MOLALI                64
1              45.0            1       MOLALI                95
2              35.0            1     TAR?FEL?                26
3              25.0            1       MOLALI                39
4              33.0            1     TAR?FEL?                29
...             ...          ...          ...               ...
99995          75.0            1       MOLALI                19
99996          15.0            1       MOLALI                43
99997          42.0            1       MOLALI                27
99998          60.0            1       MOLALI                21
99999          60.0            1       MOLALI                21

[100000 rows x 17 columns]